<div id="chat-container">
    <ul id="chat-messages-list">
        <!-- <li class="other-message">
            Other message
        </li>
        <li class="self-message">
            Self message
        </li> -->
    </ul>
    <div id="chat-footer">
        <input type="text" id="chat-message-input" placeholder="Type your text here">
        <input id="send-message" type="submit" value="Send">
    </div>
</div>