<header>
    <h2><a href="/" id="home-link">Codiel</a></h2>

    <% if(locals.user){ %>
        <div id="user-links">
            <a href="/users/profile">
                <%= locals.user.name %>
            </a>
            <a href="/users/sign-out">Sign Out</a>
        </div>
        <% }else{ %>
            <div id="user-links">
                <a href="/users/sign-in">Sign In</a>
                <a href="/users/sign-up">Sign Up</a>
            </div>
            <% } %>
</header>