<head>
    <h1>Page Header</h1>


    <% if(locals.user){ %>
        <a href="/users/profile">
            <%= locals.user.name %>
        </a>
        <br>
        <a href="/users/sign-out">Sign Out</a>
        <% }else{ %>
            <a href="/users/sign-in">Sign In</a>
            <a href="/users/sign-up">Sign Up</a>
            <% } %>
</head>