<% if(is_valid) {%>
    <form action="/users/update-password" method="POST">
        <h1>Reset Password page</h1>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <br>
        <br>
        <label for="confirm_password">Confirm Password</label>
        <input type="password" name="confirm_password" required>
        <input type="hidden" name="accessToken" value="<%=accessToken%>">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
    <% }else{%>
        <h1>Token expired. Please generate new reset email</h1>
        <%} %>