<h1>
    <%= title %>
</h1>
<form action="/users/create-session" method="POST">
    <input type="email" name="email" id="email" placeholder="Your email" required autocomplete="off">
    <input type="password" name="password" id="password" placeholder="Your Password" autocomplete="off">
    <input type="submit" value="Submit">
</form>